body {
  margin-bottom: 60px;
}

#app nav {
  padding: 10px;
}

.container {
  max-width: 960px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

input, .btn {
  border-radius: 0 !important;
}

input {
  margin-bottom: 10px;
}
