<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="row">
          <div class="form-group col-12">
          <label for="title">Name</label>
          <input
              type="text"
              class="form-control"
              id="title"
              required
              v-model="client.name"
              name="title"
          />
        </div>
        <div class="form-group col-12">
          <label for="postal_code">CPF</label>
          <input
              type="text"
              class="form-control"
              required
              v-model="client.cpf"
              name="cpf"
          />
        </div>
        <div class="form-group col-12">
          <label for="postal_code">RG</label>
          <input
              type="text"
              class="form-control"
              required
              v-model="client.rg"
              name="rg"
          />
        </div>
        <div class="form-group col-12">
          <label for="postal_code">Birthday</label>
          <input
              type="date"
              class="form-control"
              required
              v-model="client.birthday"
              name="birthday"
              placeholder="yyyy-mm-dd"
          />
        </div>
        <div class="form-group col-12">
          <label for="postal_code">Postal Code</label>
          <input
              type="number"
              class="form-control"
              required
              v-model="client.postal_code"
              name="postal_code"
          />
        </div>
        <div class="form-group col-12 col-md-3">
          <label for="postal_code">Logradouro</label>
          <input
              type="text"
              class="form-control"
              required
              v-model="client.public_place"
              name="public_place"
          />
        </div>
        <div class="form-group col-12 col-md-3">
          <label for="postal_code">Number</label>
          <input
              type="text"
              class="form-control"
              required
              v-model="client.number"
              name="number"
          />
        </div>
        <div class="form-group col-12 col-md-3">
          <label for="postal_code">Bairro</label>
          <input
              type="text"
              class="form-control"
              required
              v-model="client.neighbordhood"
              name="neighbordhood"
          />
        </div>
        <div class="form-group col-12 col-md-3">
          <label for="postal_code">Localidade</label>
          <input
              type="text"
              class="form-control"
              required
              v-model="client.city"
              name="city"
          />
        </div>
        <div class="form-group col-12 col-md-3">
          <label for="postal_code">UF</label>
          <input
              type="text"
              class="form-control"
              required
              v-model="client.state"
              name="state"
          />
        </div>
        <button @click="handleSubmit" class="btn btn-success my-2 float-end">Save</button>
      </div>
    </div>
    <div v-else>
      <h4>You submitted successfully!</h4>
    </div>
  </div>
</template>
<script>
import service from "@/services/ClientService"
import axios from 'axios'

export default {
  name: "SaveClient",
  data() {
    return {
      client: {
        name: '',
        postal_code: '',
      },
      submitted: false
    }
  },
  methods: {
    handleSubmit() {
      service.saveClient(this.client)
          .then(response => {
            this.submitted = true;
            this.client = [];
          })
          .catch(e => {
            console.log(e);
          });
    }
  },
  watch: {
    client: {
      handler (str) {
        if (str.postal_code !== 'undefined' && str.postal_code.length === 8) {
          const postal_code = str.postal_code.replace(/\D/, '')
          const url = `https://viacep.com.br/ws/${postal_code}/json`

          axios.get(url)
              .then(response => {
                if (response.data.erro) {
                  console.log('CEP não encontrado')
                  return;
                }
                this.client.public_place = response.data.logradouro
                this.client.neighbordhood = response.data.bairro
                this.client.city = response.data.localidade
                this.client.state = response.data.uf
              })
              .catch(err => {
                console.log('Erro', err)
              })
        } else if (str.postal_code.length > 1 && str.postal_code.length < 8) {
          this.public_place = null
          this.neighbordhood = null
          this.city = null
          this.state = null
        }
      },
      deep: true
    }
  }
};
</script>
<style>
.submit-form {
  max-width: 100%;
  margin: auto;
}
</style>
