<template>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          Search Client by Name, CPF or RG
        </div>
        <div class="col-12 col-md-4">
          <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="Name"
                v-model="searchString.name"
            />
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="CPF"
                v-model="searchString.cpf"
            />
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="RG"
                v-model="searchString.rg"
            />
          </div>
        </div>
        <div class="col-12 col-md-1">
          <div class="input-group-append float-end">
            <button
                class="btn btn-outline-secondary"
                type="button"
                @click="searchClient"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <h4>Clients</h4>
      <table class="table" v-if="clients">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">CPF</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
          <tr
              v-for="(client, index) in clients"
              :key="index"
          >
            <td>{{ client.name }}</td>
            <td>{{ client.cpf }}</td>
            <td>{{ client.city }}</td>
            <td>{{ client.state }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import service from "@/services/ClientService"
import { buildQuery } from '@/utils/buildQuery'

export default {
  name: 'ClientsIndex',
  data() {
    return {
      clients: [],
      searchString: []
    };
  },
  methods: {
    getClients() {
      service.getAll()
          .then(response => {
            console.log(response.data.data);
            this.clients = response.data.data;
          })
          .catch(e => {
            console.log(e);
          });
    },
    searchClient() {
      const routeQuery = buildQuery({
        name: this.searchString.name ?? '',
        cpf: this.searchString.cpf ?? '',
        rg: this.searchString.rg ?? ''
      })

      service.search(routeQuery)
          .then(response => {
            console.log('search', response.data)
            this.clients = response.data;
          })
          .catch(e => console.log(e));
    }
  },
  mounted() {
    this.getClients();
  }
};
</script>
<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
