<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">BrScanApp</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <RouterLink to="/" class="nav-link">Clients</RouterLink>
        </li>
        <li class="nav-item">
          <RouterLink to="/clients/create" class="nav-link">Add</RouterLink>
        </li>
      </div>
    </nav>
    <div class="container mt-3">
      <RouterView />
    </div>
  </div>
</template>

<style scoped>

</style>
